h1 #mi{
    font-family: "mi";
}

#mi{
    font-family: "mi";
}

h2 {
    font-family: "mi";
}

header{
    background-color: aliceblue;
}

p{
    font-family: "mi"; 
}

button {
  background-color: darkgrey; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    border-radius: 10%;
}
button:hover{
    background-color: grey;
}
button:active{
    background-color: black;
}

img{
    border-radius: 10%;
}
img:hover{
    border-radius: 0%;
}

iframe {
    width: 90%;
    height: 60%;
}

a:hover{
    outline-width: 30%;
    outline: auto;
    color:red;
    font-size: 120%;
}

/*
button {
  border-radius: 7%;
  border: 1px solid;
}*/

li{
    font-family: "mi";  
}

@font-face { font-family: mi; src: url('font.otf'); } 
      h1 {
         font-family: mi
      }