h1 {
    font-family: "mi";
}

h2 {
    font-family: "mi";
}

header{
    background-color: aliceblue;
}

p{
    font-family: "mi"; 
}

iframe {
    width: 450px; 
}

/*
button {
  border-radius: 7%;
  border: 1px solid;
}*/

li{
    font-family: "mi";  
}

@font-face { font-family: mi; src: url('font.otf'); } 
      h1 {
         font-family: mi
      }